.git
.gitignore
.vscode/
venv/

media/
tests/
nginx/

**/static/*
!**/static/redoc.*

**/migrations/*
!**/migrations/__init__.py

postgres_data
*.sqlite*
Docker*
docker*
.docker*
.env
pytest.*
*.yml
*.yaml
*.json

README.*
