asgiref==3.3.1
astroid==2.5.6
colorama==0.4.4
Django==3.1.5
django-debug-toolbar==3.2.1
django-filter==2.4.0
djangorestframework==3.12.4
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.1.0
python-slugify==4.0.1
pytz==2020.5
PyYAML==5.4.1
sorl-thumbnail==12.7.0
toml==0.10.2
Unidecode==1.2.0
wrapt==1.12.1
