{% load recipe_filters %}
<div class="card" data-id="{{recipe.id}}">
    {% csrf_token %}
    <a href="{% url 'recipes:recipe_view_redirect' recipe.id %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="{{ recipe|field_verbose_name:"image" }}" class="card__image"></a>

    <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:recipe_view_redirect' recipe.id %}" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.values %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.display_name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span>
                <a href="{% url 'recipes:author_profile' recipe.author.username %}" style="color: black">
                    {{ recipe.author.get_full_name|default:recipe.author.username }}
                </a>
            </p>
        </div>
    </div>

    <div class="card__footer">

        {% include 'includes/purchase_button.html' with in_purchases=recipe.in_purchases %}

        {% if user.is_authenticated %}
            {% include 'includes/favorite_button.html' with is_favorite=recipe.in_favorites big=False %}
        {% endif %}

    </div>
</div>  