{% extends "base.html" %}
{% load static %}
{% block title %}404{% endblock %}
{% block css_block %}<link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}

{% block main_header_title %}<h3>_404_</h3>{% endblock %}
{% block main_header_content %}Страница не найдена.{% endblock %}

{% block content %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Упс... такой страницы здесь нет!</p>
        <div class="custom-button-block">
            <a href="{% url 'recipes:index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
</main>
{% endblock %}
