{% extends "base.html" %}
{% load static %}
{% block title %}500{% endblock %}
{% block css_block %}<link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}

{% block main_header_title %}<h3>_500_</h3>{% endblock %}
{% block main_header_content %}Server error{% endblock %}

{% block content %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Что-то пошло не так...</p>
        <div class="custom-button-block">
            <a href="{% url 'recipes:index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
</main>
{% endblock %}
