{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block title %} Войти на сайт {% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block main_header_title %} Войти на сайт {% endblock %}
{% block main_header_content %}{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <p>
                {% for error in form.non_field_errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </p>
            <br>
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:"form__input" }}
                        <span class="form__input-info">{{ field.help_text|safe }}</span>
                        <span class="form__error">{{ field.errors }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a class="form__forgot-link" href={% url 'users:password_reset' %}>Забыли пароль?</a>
            </div>

        </form>
    </div>
{% endblock %}
