{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block title %} {{ title }} {% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block main_header_title %} {{ header_title }} {% endblock %}
{% block main_header_content %}{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post" action="{% url 'users:password_reset' %}">
            {% csrf_token %}

            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>

            <a>{{ form.non_field_errors }}</a>

            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" class="form__input">
                    <span class="form__input-info">{{ email.help_text|safe }}</span>
                    <span class="form__error">{{ email.errors }}</span>
                </div>
            </div>

           <div class="form__footer">
               <button class="button button_style_blue">Сбросить пароль</button>
           </div>

        </form>
    </div>
{% endblock %}
