{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main_header_title %}
<h2>{{ title }}</h2>
{% endblock %} 

{% block content %}
<div class="custom-center-block">
    <p class="custom-text-block">
        Пароль изменен успешно.
    </p>
    <div class="custom-button-block">
        <a href="{% url 'recipes:index' %}" class="button button_style_blue">
            Перейти на главную
        </a>
    </div>
</div>
{% endblock %}