{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block main_header_title %} {{ header_title }} {% endblock %}
{% block main_header_content %}{% endblock %}
{% block content %}

{% if validlink %}

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <p class="form__info-text">
            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>

        {% for field in form %}
            <div class="form__group">
                <div class="form__field-group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{field.label}}</label>
                    {{ field|addclass:"form__input" }}
                    <span class="form__input-info">{{ field.help_text|safe }}</span>
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
        {% endfor %}

        <div class="form__footer">
            <input type="submit" class="button button_style_blue" value="{% translate 'Change my password' %}">
        </div>
    </form>
</div>

{% else %}

<div class="custom-center-block">
    <p class="custom-text-block">
        {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>
</div>

{% endif %}

{% endblock %}
