{% extends "base.html" %}
{% load static %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main_header_title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block main_header_content %}
    <ul class="tags">
        {% for tag in page_data.all_tags %}
            {% include 'includes/filterTags.html' with tags_checked=page_data.tags_checked %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}

    {% if page_data.name == 'author_profile' and user.is_authenticated %}
    {{page_data.author.id}}
        <div class="author-subscribe" data-author="{{page_data.author.id}}">
            <p style="padding: 0 0 2em 0;">
                {% include 'includes/follow_button.html' with following=page_data.following %}
            </p>
        </div>
    {% endif %}

    <div class="card-list">
        {% for recipe in page %}
            {% include 'includes/recipeCard.html' %}
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with tags_checked=page_data.tags_checked %}
    {% endif %}

{% endblock %}

{% block js_block %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    {% comment %} <script src="{% static 'js/indexAuth.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/components/CardList.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/favorite.js' %}"></script> {% endcomment %}

    {% if page_data.name == 'index' %}

        <script src="{% static 'js/components/CardList.js' %}"></script>

        {% if user.is_authenticated %}
            <script src="{% static 'js/indexAuth.js' %}"></script>
        {% else %}
            <script src="{% static 'js/indexNotAuth.js' %}"></script>
        {% endif %}

    {% elif page_data.name == 'author_profile' %}

        <script src="{% static 'js/components/Subscribe.js' %}"></script>
        <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
        <script src="{% static 'js/AuthorRecipe.js' %}"></script>

    {% elif page_data.name == 'favorites' %}
        <script src="{% static 'js/components/CardList.js' %}"></script>
        <script src="{% static 'js/favorite.js' %}"></script>

    {% endif %}

{% endblock %}
