{% extends "base.html" %}
{% load static %}

{% block title %}
    {% include 'includes/title.html' with page_data=page_data %}
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block main_header_title %}
    {% include 'includes/title.html' with page_data=page_data %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="card-list">
        {% for author in page %}
            {% include 'includes/authorCard.html' with cnt=page_data.previews_cnt %}
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with page=page paginator=paginator %}
    {% endif %}

{% endblock %}

{% block js_block %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}
