<div class="form__group">
    <label for="id_first_name" class="form__label">Имя</label>
    <div class="form__field-group">
        <input type="text" name="first_name" id="id_first_name" class="form__input">
        <span class="form__error"></span>
    </div>
</div>
<div class="form__group">
    <label for="id_username" class="form__label">Имя пользователя</label>
    <div class="form__field-group">
        <input type="text" name="username" id="id_username" class="form__input">
        <span class="form__error">Ошибка username
        </span>
    </div>
</div>
<div class="form__group">
    <label for="id_email" class="form__label">Адрес электронной почты</label>
    <div class="form__field-group">
        <input type="email" name="email" id="id_email" class="form__input">
        <span class="form__error"></span>
    </div>
</div>
<div class="form__group">
    <label for="id_password" class="form__label">Пароль</label>
    <div class="form__field-group">
        <input type="password" name="password" id="id_password" class="form__input">
        <span class="form__error"></span>
    </div>
</div>

<div class="form__footer">
    <button class="button button_style_blue">Создать аккаунт</button>
</div>

<div class="form-group row" aria-required={% if field.field.required %}'true'{% else %}'false'{% endif %}>
    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
    <div class="col-md-6">
        {{ field }}
        {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
    </div>
</div>