{% extends "base.html" %}
{% load static %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block main_header_title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in recipes %}
                {% include 'includes/recipePurchasePreview.html' %}
            {% endfor %}
        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>
    </div>

{% endblock %}

{% block js_block %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}
